<include file="Public/min-header"/>

<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <section class="content ">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
				<!-- <a href="javascript:;" class="btn btn-default" data-url="http://www.tp-shop.cn/Doc/Index/article/id/1012/developer/user.html" onclick="get_help(this)"><i class="fa fa-question-circle"></i> 帮助</a> -->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 中奖用户</h3>
                </div>
                <div class="panel-body ">
                    <!--表单数据-->
                    <form method="post" id="handleposition" action="{:U('Admin/Prize/prize_userHandle')}">
                        <!--通用信息-->
                    <div class="tab-content col-md-10">
                        <div class="tab-pane active" id="tab_tongyong">
                            <table class="table table-bordered">
                                <tbody>
                                <!--<tr>-->
                                    <!--<td class="col-sm-2">奖品名称：</td>-->
                                    <!--<td class="col-sm-8">-->
                                        <!--<input type="text" class="form-control" name="name" value="{$info.name}" >-->
                                        <!--<span id="err_attr_name" style="color:#F00; display:none;"></span>-->
                                    <!--</td>-->
                                <!--</tr>-->

                                <tr>
                                    <td>是否领取：</td>
                                    <td>
                                        <label> <input type="radio" name="type"  value="0" <if condition="$info[type] eq 0">checked</if>>未领取</label>
                                        <label> <input type="radio" name="type" value="1" <if condition="$info[type] eq 1">checked</if>> 已领取</label>
                                    </td>
                                </tr>

                                </tbody>
                                <tfoot>
                                	<tr>
                                	<td><input type="hidden" name="act" value="{$act}">
                                        <input type="hidden" name="id" value="{$info.id}">
                                	</td>
                                	<td class="text-right"><input class="btn btn-primary" type="button" onclick="adsubmit()" value="保存"></td></tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
			    	</form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
function adsubmit(){
	$('#handleposition').submit();
}




</script>
 </body>
 </html>