<include file="Public/min-header" />
<div class="wrapper">
  <include file="Public/breadcrumb"/>
    <section class="content ">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
                <!-- <a href="javascript:;" class="btn btn-default" data-url="http://www.tp-shop.cn/Doc/Index/article/id/1005/developer/user.html" onclick="get_help(this)"><i class="fa fa-question-circle"></i> 帮助</a> -->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 推荐设置</h3>
                </div>
                <div class="panel-body ">
                    <!--表单数据-->
                    <form method="post" id="handleposition" action="{:U('Admin/Invite/configHandle')}">
                        <!--通用信息-->
                    <div class="tab-content col-md-10">
                        <div class="tab-pane active" id="tab_tongyong">
                            <table class="table table-bordered">
                                <tbody>

                                <tr>
                                    <td>推荐注册返积分：</td>
                                    <td >
                         				<input type="text" class="form-control" name="point" value="{$info.point}">
                                    </td>
                                    <td class="col-sm-4">设置推荐注册返还积分</td>
                                </tr>
                                <tr>
                                    <td>订单返佣金比例：</td>
                                    <td>
                               			<input type="text" class="form-control" name="commission" value="{$info.commission}">
                                    </td>
                                    <td class="col-sm-4">订单返佣金比例单位为百分比，如输入10，表示该会员完成订单后会返回10%的佣金给上级</td>
                                </tr>

                                </tbody>
                                <tfoot>
                                	<tr>
                                	<td><input type="hidden" name="act" value="{$act}">
                                		<input type="hidden" name="level_id" value="{$info.level_id}">
                                	</td>
                                	<td class="col-sm-4"></td>
                                	<td class="text-right"><input class="btn btn-primary" type="buuton" onclick="adsubmit()" value="保存"></td></tr>
                                </tfoot>
                                </table>
                        </div>
                    </div>
			    	</form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
function adsubmit(){
	$('#handleposition').submit();
}
</script>
</body>
</html>