<include file="Public/min-header" />
<div class="wrapper">
	<include file="Public/breadcrumb"/>
    <section class="content ">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
            	<!-- <a href="javascript:;" class="btn btn-default" data-url="http://www.tp-shop.cn/Doc/Index/article/id/1020/developer/user.html" onclick="get_help(this)"><i class="fa fa-question-circle"></i> 帮助</a> -->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i>分期详情</h3>
                </div>
                <div class="panel-body ">
                    <!--表单数据-->
                    <form method="post" id="return_form" action="{:U('Admin/Order/fenqi_info')}">
                        <!--通用信息-->
                    <div class="tab-content col-md-10">
                        <div class="tab-pane active" id="tab_tongyong">
                            <table class="table table-bordered">
                                <tbody>

                                <tr>
                                    <td>用户名字：</td>
                                    <td>
					                    {$User.nickname}
                                    </td>
                                </tr>
                                <tr>
                                    <td>用户手机号：</td>
                                    <td>
                                        {$User.mobile}
                                    </td>
                                </tr>
                                <tr>
                                    <td>申请日期：</td>
                                    <td>
					                    {$fenqi.addtime|date="Y-m-d H:i",###}
                                    </td>
                                </tr>
                                <tr>
                                    <td>商品名称：</td>
                                    <td >
                         				<a href="{:U('Home/Goods/goodsInfo',array('id'=>$fenqi[goods_id]))}" target="_blank">{$goods[goods_name]}</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>用户备注：</td>
                                    <td>
					                    <textarea name="remark" id="reason" cols="" rows="" readonly="readonly" class="area" style="width:400px; height:120px;">{$fenqi['remark']}</textarea>
                                    </td>
                                </tr>

                                <tr>
                                    <td>状态：</td>
                                    <td>
                                    <div class="form-group  col-xs-3">
										<select class="form-control" name="status">
                                             <option value="0" <if condition="$fenqi['status'] eq 0">selected="selected"</if>>审核中</option>
                                             <option value="1" <if condition="$fenqi['status'] eq 1">selected="selected"</if>>通过</option>
                                             <option value="2" <if condition="$fenqi['status'] eq 2">selected="selected"</if>>未通过</option>
                                        </select>
                                         </div>

                                    </td>
                                </tr>

                                <tr>
                                    <td>客服昵称及联系方式：</td>
                                    <td>
                                      <input class="form-control" type="text" name="service" value="{$fenqi['service']}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>处理备注：</td>
                                    <td>
					                    <textarea name="mremark" id="remark" cols="" rows=""  class="area" style="width:400px; height:120px;">{$fenqi['mremark']}</textarea>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                	<tr>
                                	<td><input type="hidden" name="id" value="{$id}">
                                	</td>
                                	<td class="text-right"><input class="btn btn-primary" type="submit"  value="保存"></td></tr>
                                </tfoot>
                                </table>
                        </div>
                    </div>
			    	</form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
function adsubmit(){
	$('#handleposition').submit();
}
</script>
</body>
</html>